[submodule "libs/kfr"]
	path = libs/kfr
url=git@github.com:Jman420/kfr_build_scripts.git
	branch = master
[submodule "libs/protobuf"]
	path = libs/protobuf
url=git@github.com:Jman420/protobuf_build_scripts.git
	branch = master